.outerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.employeeContainer {
  display: column;
  margin-top: 80px;
  justify-items: center;
  padding: 10px;
  box-sizing: border-box;
}


.box {
    border: 1px solid hsl(0, 0%, 54%);
    border-radius: 10px;
    box-shadow: 5px 5px 8px hsla(0, 0%, 0%, 0.649);
    padding: 20px;
    margin: 25px;
    height: 350px;
    width: 250px;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: top;
    transition: background-color 0.6s ease, transform 0.25s ease;
    font-size: 10px;
}

.box:hover {
    transform: scale(1.2);

}

.profile {
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(4, 255, 0, 0.559);
    object-fit: cover;
    height: 150px;
    width: 150px;

}

.firstName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 3px 3px rgb(201, 201, 201);
}

.lastName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 30px;
  color: rgb(0, 0, 0);
  box-shadow: 5px 3px 3px rgb(201, 201, 201);
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 15px;
}

.deleteButton {
    background-color: hsl(10, 90%, 50%);
    height: 25px;
    width: 75px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    flex-shrink: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.6s ease, transform 0.6s ease;
}

.deleteButton:hover {
    background-color: hsl(10, 100%, 55%);
    transform: scale(1.075);
    box-shadow: 0 0 10px 1px hsl(0, 100%, 50%);
    border: 1px solid;
  }

  .viewButton {
    background-color: hsl(203, 90%, 50%);
    height: 25px;
    width: 75px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin: auto;
    position: absolute;
    left: 10px;
    bottom: 10px;
    flex-shrink: 0;
    transition: background-color 0.6s ease, transform 0.6s ease;
  }

  .viewButton:hover {
    transform: scale(1.075);
    box-shadow: 0 0 10px 1px hsl(193, 100%, 50%);
    border: 1px solid;
  }

  .noEmployeeMessage {
    color: hsl(0, 100%, 58%);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 50%;
    
  }

  .AddEmployee {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 10px;
    right: 10px;
    height: 60px;
    width: 120px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: hsl(125, 47%, 54%);
    transition: background-color 0.6s ease, transform 0.6s ease;
    font-family: Arial, Helvetica, sans-serif;
  }

  .AddEmployee:hover {
    background-color: hsl(125, 77%, 50%);
    transform: scale(1.075);
    box-shadow: 0 0 25px 5px hsl(125, 49%, 55%);
    border: 1px solid;
  }

  .backButton {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 120px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: hsl(17, 100%, 63%);
    transition: background-color 0.6s ease, transform 0.6s ease;
    font-family: Arial, Helvetica, sans-serif;
  }

  .backButton:hover {
    background-color: hsl(17, 100%, 64%);
    transform: scale(1.075);
    box-shadow: 0 0 20px 2px hsl(17, 100%, 60%);
    border: 1px solid;
  }

  .editButton {
    background-color: #A0A0A0;
    height: 25px;
    width: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: auto;
    flex-shrink: 0;
    transition: background-color 0.6s ease, transform 0.6s ease;
    position: relative;
    left: 115px;
    top: -315px;
  }

  .editButton:hover {
    background-color: #B0B0B0;
    transform: scale(1.075);
    box-shadow: 0 0 10px 1px #C0C0C0;
    border: 1px solid;
  }
  